@import 'normalize.css';
@import './variables.scss';

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-family: sans-serif;
  box-sizing: border-box;
  height: 100%;
  font-size: 62.5%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smooth: antialised;
}

body {
  height: 100%;
  font-size: 1.6rem;
  color: var(--text-color);
  margin: 0;
}

#app {
  height: 100%;
}
