:root {
  --white-color: #fff;
  --black-color: #2d2d2d;

  --text-color: var(--black-color);
  --border-color: #eaeaea;

  --primary-color: #4caf50;
  --primary-color-accent: #81c784;
  --primary-color-shade: #388e3c;
}
